---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.jsx'
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="button-wrapper">
      <Button>No Client Directives</Button>
    </div>
    <div class="button-wrapper">
      <Button client:load>client:load</Button>
    </div>
    <div class="button-wrapper">
      <Button client:idle>client:idle</Button>
    </div>
    <div class="button-wrapper">
      <Button client:visible>client:visible</Button>
    </div>
    <div class="button-wrapper">
      <Button client:media="(max-width: 500px)">client:media="(max-width: 500px)"</Button>
    </div>
  </main>
</Layout>

<style>
  .button-wrapper {
    height: 400px;
    display: grid;
    place-items: center;
    border: 1px solid gray;
  }
</style>